<section class="fondo">
  <h2 class="tittle">Sobre mi</h2>
  <div class="about">
    <div class="textos">
      <p>
        Me llamo Lopez Sebastian, apacionado por la tecnologia. Actualmente me
        encuentro estudiando en la
        <strong>tecnicatura en programacion en la UTN</strong>
      </p>
      <p>
        Estoy en constante aprendisaje de diversas tecnologias, realice algunos
        cursos en plataformas de aprendisaje
      </p>
    </div>
    <div class="button-container">
      <a href="https://github.com/SebastianLopez1997/My-CV" class="btn-download">Descargar mi CV GitHub</a>
  </div>
    <div class="certificates-container">
      <h3>Mis Certificados</h3>
      <div class="certificates-grid">
        <img
          src="https://raw.githubusercontent.com/SebastianLopez1997/certificados/refs/heads/main/Certificados/63372e633d74de000ef04328%20(1).png"
          alt="Certificado 1 desarrollo web"
        />
        <img
          src="https://raw.githubusercontent.com/SebastianLopez1997/certificados/refs/heads/main/Certificados/638cc322be450c000f682a63.png"
          alt="Certificado 2 JavaScript"
        />
        <img
          src="https://raw.githubusercontent.com/SebastianLopez1997/certificados/refs/heads/main/Certificados/65cd51d00ca0fd8bc7539bf9.png"
          alt="Certificado 3 Wordpress"
        />
        <img
          src="https://raw.githubusercontent.com/SebastianLopez1997/certificados/refs/heads/main/Certificados/Certificado-Tester-QA-Manual-Educaci%C3%B3nIT.png"
          alt="Certificado 4 QA MANUAL"
        />
        <img
          src="https://raw.githubusercontent.com/SebastianLopez1997/certificados/refs/heads/main/Certificados/Certificado-Introducci%C3%B3n-a-Bases-de-Datos-y-SQL-Educaci%C3%B3nIT.jpeg"
          alt="Certificado 5 SQL"
        />
      </div>
    </div>
  </div>
</section>
