.body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-form-container {
  margin-top: 4%;
  background: var(--main-text-white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.contact-form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--main-text-grey);
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--main-text-grey);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--main-text-blue);
  border-radius: 5px;
  font-size: 16px;
  color: var(--main-text-grey);
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: var(--main-text-blue);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: var(--main-text-blue);
  color: var(--main-text-white);
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: var(--main-text-dark-blue);
}

.error {
  color: red;
}
