<section class="fondo">
  <h2 class="tittle">Sobre mi</h2>
  <div class="about">
    <div class="textos">
      <p>
        Me llamo Lopez Sebastian, apasionado por la tecnologia. Actualmente me
        encuentro estudiando en la
        <strong>tecnicatura en programacion en la UTN</strong>
      </p>
      <p>
        Estoy en constante aprendizaje de diversas tecnologias, realice algunos
        cursos en plataformas de aprendizaje
      </p>
    </div>
    <div class="button-container">
      <a href="assets\LopezCV.pdf" download class="btn-download"
        >Descargar CV</a
      >
    </div>
    <div class="certificates-container">
      <h3>Mis Certificados</h3>
      <div class="certificates-grid">
        @for (item of certificates; track $index) {
        <img src="{{ item.urlImg }}" alt="{{ item.alt }}" />
        }
      </div>
    </div>
  </div>
</section>
