.fondo {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .tittle {
    color: aliceblue;
    font-size: 3.5rem;
    margin-bottom: 50px;
  }
  
  .about {
    color: white;
    font-size: 2rem;
    gap: 30px;
  }
  
  .textos {
    margin-bottom: 40px;
  }
  
  .certificates-container {
    text-align: center;
    margin: 20px auto;
    max-width: 1800px;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Título */
  .certificates-container h3 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
  }
  
  /* Contenedor de la cuadrícula */
  .certificates-grid {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(300px, 1fr)
    ); /* Ajusta el tamaño mínimo a 300px */
    gap: 30px; /* Espaciado entre imágenes */
  }
  
  /* Estilo de las imágenes */
  .certificates-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Efecto al pasar el cursor sobre las imágenes */
  .certificates-grid img:hover {
    transform: scale(2); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  @media screen and (max-width: 770px) {
    .fondo {
      margin-top: 300px;
      margin-bottom: 330px;
    }
  
    .certificates-container {
      display: flex;
      flex-direction: column;
      max-width: 400px;
    }
    
    .certificates-grid img:hover {
      transform: scale(1.2); 
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }
  
  /* Para el boton CV */
  .button-container {
    text-align: center;
  }
  
  .btn-download {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    padding: 15px 30px;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 5px 15px rgba(0, 123, 255, 0.4);
  }
  
  .btn-download:hover {
    background-color: #0056b3;
    transform: scale(1.1);
  }