<section class="fondo">
  <div class="contenedor-logo">
    <img
      class="imagen-redonda"
      src="https://media.licdn.com/dms/image/v2/D4D35AQHTMbowv9Bk7A/profile-framedphoto-shrink_200_200/profile-framedphoto-shrink_200_200/0/1722309514920?e=1732741200&v=beta&t=1LOlddAiaZwF_BPTBJaOpcAuc3s9nz48c2yAeIY4AKM"
      alt="foto perfil"
    />
    <button class="glowing-button" (click)="navegarPerfil()" >Disponible para trabajar</button>
  </div>
  
  <div class="contenedor-textos">
    <h1>Hey, Soy Lopez, Sebastian</h1>
    <p>
      +2 años de experiencia.
      <span class="texto-color"
        >Estudiante de la tecnicatura en programacion UTN</span
      ><br>, soy de Buenos Aires, Argentina.
    </p>
    <p class="slide-in">Especializado en el desarrollo web</p>
  </div>

  <div class="contenedor-redirreccion">
    <a
      target="_blank"
      [routerLink]="['/contactform']"
      class="boton boton-contacto"
    >
      <img
        src="https://img.icons8.com/ios-filled/50/ffffff/email.png"
        alt="Email"
      />
      Contacto
    </a>

    <a
      target="_blank"
      href="https://www.linkedin.com/in/sebastian-lopez-422788224/"
      class="boton"
    >
      <img
        src="https://img.icons8.com/ios-filled/50/ffffff/linkedin.png"
        alt="LinkedIn"
      />
      LinkedIn
    </a>
    
    
    <a
      target="_blank"
      href="https://www.linkedin.com/in/sebastian-lopez-422788224/"
      class="boton boton-git"
    >
    <i class="bi bi-github"></i>
       Github
    </a>
  </div>
  <div>
    <span></span>
    <br />
    <span></span>
    <span></span> 
    <span></span>
  </div>
</section>
