.fondo{
    background-color: #362e6ce9;
    height: 100vh;
    width: 100%;
}

.imagen-redonda {
    width: 200px; /* Ajusta el tamaño según lo necesites */
    height: 200px; /* Asegúrate de que el alto sea igual al ancho para que sea un círculo perfecto */
    border-radius: 50%; /* Esto hace que la imagen sea redonda */
    object-fit: cover; /* Esto ajusta la imagen para que se recorte si es necesario, manteniendo el centro */
}

.burbuja {
    display: inline-block;
    background-color: #4CAF50; /* Color de fondo de la burbuja */
    color: white; /* Color del texto */
    padding: 20px 30px; /* Espaciado interno de la burbuja */
    border-radius: 30px; /* Bordes redondeados */
    font-size: 18px; /* Tamaño de la fuente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    position: relative; /* Necesario para crear el "triángulo" de la burbuja */
}

.burbuja::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Ajusta la posición del triángulo */
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #4CAF50 transparent transparent transparent; /* Triángulo que apunta hacia abajo */
}

.contenedor-logo{
    padding-left: 40px;
    padding-top: 120px;
    margin: auto;
    align-items: center;
    gap: 30px;
    display: flex;
}

.boton {
    display: inline-flex;
    align-items: center;
    background-color: #0077b5; /* Color de fondo para el botón */
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.boton img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.boton:hover {
    background-color: #005a8d; /* Color de fondo cuando pasa el ratón por encima */
}

/* Estilo específico para el botón de contacto */
.boton-contacto {
    background-color: #28a745; /* Color de fondo del botón de contacto */
}

.boton-contacto:hover {
    background-color: #218838; /* Color de fondo al pasar el ratón en el botón de contacto */
}


.contenedor-textos{
    padding-top: 300px;
    margin-left: 10%;
    font-size: 2rem;
    color: aliceblue;
    font-weight: 600;
    padding: 10px;
    
}

.texto-color{
    color: yellow;
}

.contenedor-textos h1 {
    font-size: 2em; /* Tamaño más grande para el título */
    margin-bottom: 4%; /* Espacio debajo del título */
}

.contenedor-textos p {
    
    font-size: 1.2em; 
    margin-top: 40px;
    margin-bottom: 15px; 
    line-height: 1.6; 
}