<section class="proyectos-contenedor">
    <h2>Mis proyectos</h2>
  
    <div class="horizontal-card">
      <img
        src="https://scontent.fmdq3-1.fna.fbcdn.net/v/t39.30808-6/313404547_486146933540953_1923914148916342522_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeGuvpYuXfIcIqLXwEIHvaQ0mMAsZQR7PtOYwCxlBHs-02vRlpebIphenQIXbwOsbKE&_nc_ohc=0_zEvULk56EQ7kNvgGT32lv&_nc_zt=23&_nc_ht=scontent.fmdq3-1.fna&_nc_gid=ACx2EAea0d9ej9yY-_pt-Q4&oh=00_AYABnOkCoqofpj8QbA9sJ7Z68dtgRgUlDJYYm_ZYSO9tQg&oe=67499956"
        alt="Imagen de ejemplo"
        class="card-image"
      />
      <div class="card-content">
        <h2 class="card-title">e-commerce</h2>
        <p class="card-description">
          e-commere funcional a pedido por un cliente. Cuenta con base de datos
          para clientes y productos
        </p>
        <div class="tecnologias">
          Tecnologias usadas: <i class="bi bi-wordpress"></i>
        </div>
        <div class="a-boton">
          <a
            href="https://electronicaimportadamdq.com/"
            target="_blank"
            class="link-button"
            >Visitar</a
          >
        </div>
      </div>
    </div>
    <!--                   -->
    <div class="horizontal-card">
      <img
        src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_1280.png"
        alt="Imagen de ejemplo"
        class="card-image"
      />
      <div class="card-content">
        <h2 class="card-title">Landing page</h2>
        <p class="card-description">
          Landing page realizada para una influenser y artista en tik-tok y
          youtube.
        </p>
        <div class="tecnologias">Tecnologias usadas: HTML, CSS Y JAVASCRIPT</div>
        <div class="a-boton">
          <a
            href="https://github.com/SebastianLopez1997/Cande-LandingPage"
            target="_blank"
            class="link-button"
            >Visitar</a
          >
        </div>
      </div>
    </div>
  
    <!--  -->
  
    <div class="horizontal-card">
      <img
        src="https://acdn.mitiendanube.com/stores/001/216/412/products/photoroom-20240828_175815_48-e6178c027c212865b117261621663002-640-0.png"
        alt="Imagen de ejemplo"
        class="card-image"
      />
      <div class="card-content">
        <h2 class="card-title">Juego web F1</h2>
        <p class="card-description">
          Proyecto para finalizacion cuatrimestre UTN Juego web utilizando Angular
          18. Consumo de API
        </p>
        <div class="tecnologias">Tecnologias usadas: Angular Cli</div>
        <div class="a-boton">
          <a
            href="https://github.com/SebastianLopez1997/F1-GAME"
            target="_blank"
            class="link-button"
            >Visitar</a
          >
        </div>
      </div>
    </div>
  </section>
  