.proyectos-contenedor {
  padding-top: 3%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
}

.proyectos-contenedor h2 {
  font-size: 4rem;
  color: var(--main-text-white);
  padding-bottom: 3%;
}

/* Card horizontal */

.a-boton {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.horizontal-card {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.09);

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 600px;
  width: 100%;

  animation-name: movingD;
  animation-duration: 3s;
  animation-delay: 0.5s;
  position: relative;
}

@keyframes movingD {
  0% {
    left: -300px;
    top: -100px;
    opacity: 0;
  }

  50% {
    left: 300px;
    top: 100px;
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    left: 0px;
    top: 0px;
    opacity: 1;
  }
}

.horizontal-card h2 {
  font-size: 3rem;
}

@media screen and (max-width: 600px) {
  .horizontal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.09);

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 300px;
    width: 100%;
  }
  .horizontal-card h2 {
    font-size: 3rem;
  }
  .card-image {
    display: none;
  }
  .a-boton {
    display: flex;
    margin-top: 10px;
    justify-content: center;
  }
}

/* Imagen de la card */
.card-image {
  width: 175px;
  height: 210px;
  object-fit: cover;
}

/* Contenido de la card */
.card-content {
  padding: 20px;
  flex: 1;
}

/* Título */
.card-title {
  margin: 0 0 10px;
  color: var(--main-text-grey);
  overflow: hidden;
}

/* Descripción */
.card-description {
  font-size: 1.4rem;
  color: var(--main-text-white);
  margin: 0;
}

/* Parte de la card tecnologias */

.tecnologias {
  gap: 3px;
  margin-top: 1%;
  color: var(--main-text-white);
}

/* Para el a que se parezca boton */
.link-button {
  display: inline-block;
  text-decoration: none;
  background-color: var(--main-text-blue);
  color: var(--main-text-white);
  padding: 10px 24px;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 25px;
  transition: all 0.3s ease;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Efecto hover */
.link-button:hover {
  background-color: var(--main-text-dark-blue);
  color: var(--main-text-white);

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
}

@media screen and (max-width: 768px) {
  .proyectos-contenedor {
    margin-top: 30%;
  }
}

@media screen and (max-width: 425px) {
  .proyectos-contenedor {
    margin-top: 55%;
  }
}
