<section class="proyectos-contenedor">
  <h2>Mis proyectos</h2>

  @for (project of projects; track $index) {

  <div class="horizontal-card">
    <img src="{{ project.url }}" alt="{{ project.alt }}" class="card-image" />
    <div class="card-content">
      <h2 class="card-title">{{ project.titulo }}</h2>
      <p class="card-description">
        {{ project.descripcion }}
      </p>
      <div class="tecnologias">
        Tecnologias usadas: {{ project.tecnologias }}
      </div>
      <div class="a-boton">
        <a href="{{ project.urlVisita }}" target="_blank" class="link-button"
          >Visitar</a
        >
      </div>
    </div>
  </div>
  }
</section>
